---
layout: default
---

<div class="home">

<section>
	<p><a href="http://digital-democracy.org">Digital Democracy (Dd)</a> is a US-based nonprofit whose mission is to empower marginalized communities to use tech to defend their rights.</p>

	<p>Our program focus is to work with indigenous peoples and evidence-based storytelling tools to defend the world’s forests and critical ecosystems. We draw upon a wide network of partners around the world to build tools and provide technical support where it is needed most. </p>

	<p>This site introduces the tools, big and small, that we’re creating with our mapping and monitoring partners.	</p>
</section>

<form action="get" id="site_search">
  <input type="text" id="search_box">
  <input type="submit" value="search">
</form>

<ul id="search_results"></ul>

<script src="/js/lunr.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/search.js"></script>

<section class="home-content">
	<div class="width-half left">
		<h3> Featured Modules </h3>
		<ul class="post-list">
		{% for p in site.pages %}
		    {% if p.layout == 'module' and p.featured == true %}
		      <li>
		      <div class="post-title"><a href="{{p.url}}">{{p.title}}</a></div>
		      <div class="post-meta">{{p.description}}</div>
		      </li>
		    {% endif %}
		{%endfor%}
		</ul>
	</div>

	<div class="width-half right">
		<h3> Recent Posts </h3>
		<ul class="post-list">
		{% for p in site.posts | limit: 5 %}
		      <li>
		      	<div class="post-title"><a href="{{p.url}}">{{p.title}}</a></div>
		      	<div class="post-meta">{{p.date | date_to_long_string }} {% if p.author%}by {{p.author}}{%endif%}</div>
		      </li>
		{%endfor%}
		</ul>
	</div>
</section>

<section class="about-content">
	<div class="item">
		<div class="circle"><img src="/images/share.png"></div>
		<p>All of our code is published under the <a href="https://opensource.org/licenses/MIT">MIT License</a>.</p>
		<p>Use, study, share, and improve these tools at no cost.</p>
	</div>

	<div class="item">
		<div class="circle"><img src="/images/mail.png"></div>
		<p>Did you use these tools in your own work? Want to learn more about our volunteer network?</p>
		<p> We’d love to hear from you.
		<a href="mailto:info@digital-democracy.org">info@digital-democracy.org</a></p>
	</div>

	<div class="item">
		<div class="circle"><img src="/images/dd-white.png"></div>
		<p>For more on our organization and our work, visit:</p>
		<p><a href="http://digital-democracy.org/">digital-democracy.org</a></p>
	</div>
</section>

</div>
