---
layout: page
title: Code
permalink: /code/
---


  <h1 class="post-subhead">Tools</h1>
  <ul class="post-list">
    {% for page in site.pages %}
      {% if page.layout == 'code' %}
        {% if page.type == 'tool' %}
          <li>
          <div class="post-link"><a href="{{page.url}}">{{page.title}}</a></div>
          <div class="post-meta">{{page.description}}</div>
          </li>
          {% endif %}
      {% endif %}
    {% endfor %}
  </ul>

  <h1 class="post-subhead">Modules</h1>
  <ul class="post-list">
    {% for page in site.pages %}
      {% if page.layout == 'code' %}
        {% if page.type == 'module' %}
          <div class="post-meta">
            <span class="post-categories">
              {% for c in page.categories %}<a href="{{site.baseurl}}/code/categories/{{c}}">{{c}}</a>{%endfor%}
            </span>
          </div>
          <li>
          <div class="post-link"><a href="{{page.url}}">{{page.title}}</a></div>
          <div class="post-meta">{{page.description}}</div>
          </li>
          {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
