<header class="site-header">
  <div class="wrapper">
    <div class="site-nav">
        <div class="width-half left">
          <a class="nav-link" href="{{ "/code" | prepend: site.baseurl }}">Code</a>
        </div>
        <div class="logo-center">
          <a href="{{ site.baseurl }}/"><img  src={{ "/images/lab_logo.png" | prepend: site.baseurl }}></a>
        </div>
        <div class="width-half right">
          <a class="nav-link" href="{{ "/blog" | prepend: site.baseurl }}">Blog</a>
        </div>
      <h3 class="site-title width-full center"> <a href="{{ site.baseurl }}/">{{ site.title }}</a></h3>
    </div>
  </div>
</header>
