<header class="site-header">
  <div class="wrapper">
    <div class="site-nav">
        <div class="width-half left">
          <a class="nav-link" href="/modules">Modules</a>
        </div>
        <div class="logo-center">
          <a href="{{ site.baseurl }}/"><img  src="/images/lab_logo.png"></a>
        </div>
        <div class="width-half right">
          <a class="nav-link" href="/blog">Blog</a>
        </div>
      <h3 class="site-title width-full center"> <a href="{{ site.baseurl }}/">{{ site.title }}</a></h3>
    </div>
  </div>
</header>
